body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#map {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    position: relative;

    /* background-image:
    url(https://classes.codingbootcamp.cz/assets/classes/workouts/tiles.jpg);
    background-position: left top; background-size: 200px auto; */

    background:transparent
    url(https://classes.codingbootcamp.cz/assets/classes/workouts/tiles.jpg)
    left top/200px auto repeat scroll;
}


#hero {
    width: 50px;
    height: 50px;
    background: transparent url(https://classes.codingbootcamp.cz/assets/classes/workouts/hero.png)
    center/contain;
    position: absolute;
}