
/* Utilities
******************************************************/

.accessible-hidden {
    position: absolute;
    top: 0;
    left: -999px;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    }

    .accessible-hidden:focus {
    position: fixed;
    top: 0;
    left: 0;
    background:#4d341e;
    padding: 10px;
    width: 100%;
    height: auto;
    clip: auto;
    text-align: center;
    color: #e0b47b;
    text-decoration: none;
    }

body{
    margin:  0;
    font-family: 'Lato', sans-serif;
    background-color: #e0b47b;
}

/* #logo-link{
    display: flex;
    align-items: center;
    margin: 0 1em;
} */

.header{
    display: flex;
    background-color: black;
}

.container{
    width: 90%;
    margin: 5%;
    padding: 0;
}
h1,
h2{
    color: #4d341e;
}

h2{
    text-align: center;
}

/* Another solution for the 4 promo blocks
Set up a class, for example class="article"
and the css:
.article{
    width: 25%;
    display: flex;
(display: inline-block;
}

*/

h1{
    font-size: 4rem;
}

h3{
    color: #e0b47b;
    background-color: #c24b41;
}


nav{
    background-color:black;
    text-align: right;
    padding-right: 20px;


}
nav a{
    color: #e0b47b;
    text-decoration: none;
    display: block;
    font-size: 2em;
    padding: 1.1em 0.4em;

}

nav a:hover,
nav a:focus{
    background-color:#4d341e;
    text-decoration: none;
    color: #e0b47b;
}

nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

.section{
    text-align: center;
    padding: 7em;
}
.section--light{
    background-color: #e0b47b;
}

.section--rose{
    background-color: #c24b41;
    color: #fed7a5
}

.section--dark{
    background-color: black;
}

.jumbotron{
    background-image: url(../pics/IMG_8711.JPG);
    background-position: center center;
    background-size: cover;
    padding-top:12vw;
    padding-right: 1rem;
    padding-bottom: 20vw;
    padding-left: 1rem;
    color: black;

}

#logo{
    float: right;
    width: 100px;
    margin-right: 20px;
}

#portrait{
    float: left;
}
/*
.promo{
    background-color: #c24b41;
    color: #e0b47b;
    text-align: center;
    padding: 1.2em;
} */

#findme{
    color: #e0b47b;
    text-align: center;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.portfolioarticle{
    display: block;
    padding: 0.5em;
    height: 200px;
}

.fa{
    color: #c24b41;

}

.icons{
    font-size: 7rem;
    padding-bottom: 6vw;
    padding-right: 0.5em;
    padding-left: 0.5em;
    display: inline-block;

}

footer{
    text-align: center;
}

.info{
    text-align: left;
}

.barfield{
    float: right;
}

.barfield:focus{
    background-color: #c24b41;
}

