* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('img/banner.jpg');
	background-repeat: repeat-x;
	font-family: sans-serif;
}

.page-heading {
	color: white;
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	margin: 30px;
}

.login-wrapper {
	margin: 0 25px;
}

.login {
	max-width: 350px;
	background-color: white;
	border: 2px solid #ddd;
	border-radius: 4px;
	margin: 30px auto;
	padding: 30px;
}

.icon {
	width: 38px;
	height: 38px;
	display: inline-block;
	vertical-align: top;
}

.user {
	background-image: url('img/icon-user.png');
}

.lock {
	background-image: url('img/icon-lock.png');
}

.input-row {
	font-size: 0;
	margin-bottom: 15px;
}

.field {
	border: none;
	display: inline-block;
	vertical-align: top;
	height: 38px;
	width: calc(100% - 38px);
	background-color: lightgray;
	padding: 10px 15px;
	font-size: 18px;
	color: #444;
}

.login-heading {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	color: gray;
}

.login-button {
	width: 100%;
	height: 38px;
	background-color: #fb4d11;
	color: white;
	border: none;
	font-size: 120%;
}

.error {
	border: 3px solid rgba(255,0,0,.5);
}