$sandybrown: #F1BA5F;
$firebrick: #A42616;
$saddlebrown: #591F12;
$black:#070504;
$darkerbrown: #2F0B07;

* {
    box-sizing: border-box;
}

body {
    background-color: #070504;
    font-family: 'Open Sans Condensed', sans-serif;
}

header{
    background-color: black;
}

nav {
    width: 75%;
    float: right;
    display: flex;
    justify-content: flex-end;
    background-color: black;

}

#logo {
    height: 80px;
}

nav {

    ul {
        display: flex;
        background-color: $black;
        margin: 0;
        margin-right: 20px;
        text-align: center;
    }

    li {
        list-style: none;

    }

    a {
        text-decoration: none;
        display: block;
        color: $sandybrown;
        padding: 1.4em 0.4em;


    }

    a:hover,
    a:focus {
        background-color:$darkerbrown;
    }

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
  }

.sticky + .content {
    padding-top: 60px;
}



.jumbotron {
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 4em;
    width: 80%;
    padding-top: 10vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 20vw;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: center center;
    color: $sandybrown;
    text-align: center;
}

h1 {
    font-size: 1.7rem;
    margin-bottom: 0;
}

h2,
h3 {
    text-align: center;
    font-weight: bold;
}

.container {
    width: 90%;
    margin: auto;

}

.section {
    background-color: $black;
    color: $sandybrown;
    padding: 4em;
}

.section--hotm,
.section--hota {
    text-align: center;
}
/* Gradient transparent - color - transparent */

.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
                                                rgba(255,255,255, 0.75),
                                                rgba(255, 255, 255, 0));
    margin: 4em;
}

article {
    display: flex;
    flex-wrap: wrap;
}

.sideimg {
    flex: 1 1 300px;
    margin-right: 2rem;
    text-align: center;
}

.sideimg img {
    max-width: 80%;
    border-radius: 75%;
}

.article {
    flex: 1 0 300px; /* image width */
    max-width: 100%;
    padding: 0 2rem;
}

.centerimg {
    width: 70%;
    margin: auto;

}