$sandybrown: #F1BA5F;
$firebrick: #A42616;
$saddlebrown: #591F12;
$black:#070504;
$darkerbrown: #2F0B07;

* {
    box-sizing: border-box;
}

body {
    color:beige;
    background-color: #070504;
}

header{
    background-color: black;
}

nav {
    width: 75%;
    float: right;
    display: flex;
    justify-content: flex-end;
    background-color: black;

}

nav {

    ul {
        display: flex;
        background-color: black;
        color: white;
        margin: 0;
        text-align: center;
    }

    li{
        list-style: none;

    }

    a {
        text-decoration: none;
        display: block;
        color: white;
        padding: 1.4em 0.4em;


    }

    a:hover
    a:focus{
        background-color: yellow;
    }

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
  }

.sticky + .content {
    padding-top: 60px;
}



.jumbotron {
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 4em;
    width: 80%;
    padding: 10vw 10vw;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: center center;
    color: beige;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.container {
    width: 80%;
    margin: auto;

}

/* Gradient transparent - color - transparent */

.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
                                                rgba(0, 0, 0, 0.75),
                                                rgba(0, 0, 0, 0));
}
